body{
    display: flex;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#9c9ed9, #f9f9f9);
}
h1{
    color: rgb(255, 0, 162);
}

#calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:80px repeat(5, 60px);
    gap: .5em;

    width: 300px;
    padding: 20px;
    background-image: linear-gradient(#5981a4, #2b4772);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0/.8);
}
#display, button{
    background-image: linear-gradient(#353535, #1b1717);
    color: white;
}
#display{
    box-shadow: inset 3px 3px 0  #161616;
    font-size: 2em;

    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    margin-bottom:20px ;
    padding-right:10px 18px;
}
button{
    border: 2px solid black;
    border-left-color: #8a8a8a;
    border-top-color: #8a8a8a;
    font-size: 1em;
}
.btn-mais{
    /* grid-row:5/7 ;
    grid-column:4/5 ; */
    grid-row: span 2;

}
.btn-zero{
    grid-column:span 2 ;
}